.tit_cash{text-align: center;color: #fff;font-size: 22px;}
.login_action{width: 100%;border-radius: 12px;}

.wrap{padding:15% 0;width:100%}
.card{background:none;padding:0;border-radius:20px;width:500px;margin:0 auto;}
.card-header{background:#c61010}
.card-title{margin-top: 15px;}
.title{color:#fff;font-size:32px;text-align:center;}
.title img{width:50%;}
.card-body{background:#c61010;margin-top: -15px;width:500px;float:left}

.wrap_filter{position:absolute; top:0; left:0; right:0; width:100%; height:100%; background-color:#000; opacity:0.3; z-index:-1;}
.wrap_bg{position:absolute; top:0; left:0; right:0; width:100%; height:100%; ; background-repeat:no-repeat; background-size:cover; z-index:-2;}
@media only screen and (max-width:767px){
	body{background-color:#c61010;}
	.card{width:100%;}
	.card-body{width:100%;}
	.card .card-header .card-title{padding:0 25px;}
	.title img{width:70%;}
	.wrap_filter{background-color:#c61010; opacity:1;}
	/*.login_input{color:#333; background-color:#fff; border-color:#fff;}*/
}

#paging {float:left; width:100%; margin:20px auto;}
#paging ul {list-style: none;margin: 0;padding: 0;text-align: center; }
#paging li {display: inline; }
#paging a {border-radius: 3px;box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;margin: 1px 2px;padding: 5px 10px;display: inline-block;border-top: 1px solid #fff;text-decoration: none;color: #717171;font-size: smaller;font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;text-shadow: white 0 1px 0;background-color: #f5f5f5;background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);background-image: linear-gradient(top, #f9f9f9, #eaeaea);filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea'); }
#paging a:first-child, #paging a.first {margin-left: 0; }
#paging a:last-child, #paging a.last {margin-right: 0; }
#paging a:hover, #paging a:focus {border-color: #fff;background-color: #fdfdfd;background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);background-image: -moz-linear-gradient(top, #fefefe, #fafafa);background-image: -ms-linear-gradient(top, #fefefe, #fafafa);background-image: -o-linear-gradient(top, #fefefe, #fafafa);background-image: linear-gradient(top, #fefefe, #fafafa);filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa'); }
#paging a.more {box-shadow: 0 0 0 0 transparent;border: 0 none;background: transparent;margin-left: 0;margin-right: 0; }
#paging a.active {box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;border-color: #505050;color: #f2f2f2;text-shadow: black 0 1px 0;background-color: #676767;background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c);background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c);background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c);background-image: linear-gradient(top, #5f5f5f, #5c5c5c);filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c'); }
#loading{
	display: block;
    position: fixed;
    width: 100%;
    height: 100;
    bottom: 50%;
    font-size: 80px;
    text-align: center;
    background: #ab2723;
    border: 1px solid #ccc;
    color: #fff;
}
.m10{
	margin-bottom:10px;
}
.login_input{
	width:100%;
	background: #88201d;
    color: #fff;
    border: none;
    border-radius: 12px !important;
    border-top: 5px solid #750e0b;
    border-right: 2px solid #750e0b;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}
.keyword_auto{
	position: absolute;
    z-index: 1;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    text-align: left;
    padding: 5px 15px;
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
    display:none;
    margin-top: 10px;
    width: 95%;
}

 .thumb-info img {
        margin: 15px auto 0 auto;
        background: #f1f1f1;
        border-radius: 50%;
        border: 1px solid #999;
        width: 160px;
        height: 160px;

}
.logo{
	width: 200px;
    margin-top: 15px;
}

.my_page{
    text-align:left;
    padding-left: 15px;
    line-height:30px;
}
.btn_search{
    background: #d43f3a !important;
    color: #fff !important;
    height: 35px !important;
}
.width100{
    width:100%;
}
.my_page a.home{
    color: #666;
}
.my_page a.edit{
    color:#5bc0de;
}
.my_page a.home:hover{
    color:#BDBDBD;
}
.my_page a.edit:hover{
    color:#31b0d5;
}
.my_page_sign{
    vertical-align: middle;
    display: table-cell;
    height: 35px;
    text-align: left;
}

.sign_title{
    display: table;
    margin: 0px auto;
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
    background: #ddd;
    font-size: 24px;text-align: left;
    line-height: 50px;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}
.sign_bottom_div{
    line-height: 50px;
    padding-bottom: 20px;
}
.list_item{
    width: 100%;
    float: left;
    font-size: 20px;
    color:#666;
}
.auto_item{
	width: 100%;
    float: left;
    font-size: 18px;
    color:#666;
}
.textarea_content{
	text-align: justify;
    white-space: normal;
	padding:10px;
	resize:none;
}
.dis_n{
	display:none;
}
.list_item_conent{
    max-height: 500px;
    overflow-y: auto;
}
.list_item_length{
    text-align: left
}
.textarea_div_write{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    background: #2F3848;
    padding: 10px;
    display: none;
}

.overlay_bg{
    display: none;
    position: fixed;
    width: 100%;
    background: #000;
    height: 100%;
    opacity: 0.5;
    z-index: 13;
}
.textarea_div_write a{
    color: #fff;
    font-size: 24px
}
.no_resize{
    resize: none;
}
.essay_div{
    text-align: right;
    font-size: 24px;
}
.essay_div a{
    color: #666
}
.overlay_img{
	position:absolute;
    width: 100%;
    background: #000;
    opacity: 0.6
}
.tag_view{
    background: #f5f5f5;
    overflow-y: auto;
    text-align: justify;
    padding: 20px 20px;
    color: #333;
    word-break: break-all;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px
}

.lock{
 background: #f5f5f5;
 overflow: hidden;

 text-overflow: ellipsis;

 display: -webkit-box;

 -webkit-line-clamp: 3; /* �쇱씤�� */

 -webkit-box-orient: vertical;

 word-wrap:break-word;

 line-height: 14px;
 height:43px

}


.list_item_line{
    background: #666;
    float: left;
    width: 100%;
    color: #fff;
    line-height: 25px;
    font-size: 18px;
    margin: 10px 0;
}
.modal-title{
    font-size: 36px
}

.table_row_add{
    font-size:14px;
    float:left;
    cursor:pointer;
    margin-bottom: 20px
}
.table_row_refresh{
    font-size:14px;
    float:right;
    cursor:pointer;
    margin-bottom: 20px
}
.table_input_btn{
    padding: 0px;
    height: 20px !important;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
}
.sat_input_btn{
    padding: 0px;
    height: 23px !important;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
}
.ap_input_btn{
    padding: 0px;
    height: 23px !important;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
}
.btn-college-sel {
    background: #fff !important;
    color: #89bf4c !important;
    border:1px solid #89bf4c !important;
    padding: 6px 10px !important;
    margin: 5px 10px !important;
}
.display_hidden{display: none !important}
.sign_title_sub{
    font-size: 24px;
    margin:10px 0 20px 0;
}
.sign_btn_mentee{
    width: 100%;
    height: 240px;
    font-size: 26px;
    padding: 100px 0;
    font-weight: bold;
    border-radius: 10px;
}
.sign_btn_mentee:hover{
    /*background: url(../img/student_half.png);*/
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.sign_btn_mentor{
    width: 100%;
    height: 240px;
    font-size: 26px;
    padding: 100px 0;
    font-weight: bold;
    border-radius: 10px;
}
.sign_btn_mentor:hover{
    /*background: url(../img/teacher_half.png);*/
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}


 .main_container {
/*background: url(../img/mainimg_b.jpg);*/

width:100%;
min-height:600px;
background-size:cover;
background-position: top;
background-attachment: fixed;
background-repeat: no-repeat;
}
.fl{
    float: left
}
.fr{
    float: right
}
.pad_r_0{
    padding-right: 0px
}
.pad_0{
    padding: 0;
}
.reply_div{
    padding-right:0;
    margin-top: 10px
}
.notice_container{
    border: 1px solid #ccc;
    background: #fff;
    outline: 1px solid #fff;
    float: left;
}

.notice_tit{
    float: left;
    width: 100%;
}
.notice_tit img{
    width:40px !important;
    height:40px !important;
    max-width: none;
    float:left;
    border-radius: 40px;
    border: 1px solid #ccc;
}
.notice_tit_reply{
    float: left;
    width: 100%;
    padding: 0px
}
.notice_tit_reply img{
    width:40px !important;
    height: 40px !important;
    float:left;
    border-radius: 40px;
    border: 1px solid #ccc;
}
.timeago{
    border: none !important;
}
.reply_img{
    width:40px;
    height:40px;
    float:left;
    min-width:25px;
    border:1px solid #ccc;
    border-radius: 40px;
}
.notice_time{
    width: 100%;
    float: left;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 12px;
    text-align:right;
}
.notice_time_reply{
    border-bottom: 1px dotted #ccc;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: right;
}
.notice_name{
    font-size: 14px;
    color: #D9534F;
    margin-top: 10px;
    float: left;
    padding-left: 20px;
    cursor: pointer;
}
.notice_main_name{
    font-size: 14px;
    color: #D9534F;
    margin-top: 10px;
    float: left;
    padding-left: 20px;
    cursor: pointer;
    text-overflow:ellipsis;
    overflow: hidden;
    height: 23px !important;
}
.notice_content{
    min-height: 50px;
}
.notice_content_reply{
    min-height: 50px;
    padding: 0px
}
.notice_content_reply_span{
    vertical-align: sub;
    font-size: 14px;
}

.notice_main_content_replay_span{
    vertical-align: sub;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    min-height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.notice_content img{
    width: 28px !important;
    height: 28px !important;
    float:left;
    margin-right: 10px
}
.notice_content_reply img{
    width: 28px !important;
    height: 28px !important;
    float:left;
    margin-right: 10px
}
.notice_main_content_span{
    width:0px;
    vertical-align: sub;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    min-height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.notice_content_span{
    vertical-align: sub;
    font-size: 14px;
    word-wrap: break-word;
}
.notice_reply_count{
    border: 1px solid #ccc !important;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 20px !important;
}
.interest_div{

    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.interest_span{
    padding: 2px 5px;
    border: 1px solid #595959;
    background: #337ab7;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
.interest_div_hidden{
    float: left;
    height: 25px;
    overflow: hidden;
}


.alert_div{
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 12px;
    word-break: break-all;
    display: none;
    z-index: 9999;
    white-space: normal;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}
 .main_img_text {
        float:right;
        text-align: left;
 }

.img_text {
    padding: 70px 0 0 0;
    color: #fff;
    text-align: right;
}

.img_text h1 {
    font-size:36px;
    color: #fff;
    font-weight: bold;
    padding-left:15px;
    padding-right:30px;
    margin-top: 10px;
    margin-bottom:20px;
    line-height: 40px;
}

.img_text p {
    font-size:16px;
    line-height: 36px;
    padding-left:15px;
    padding-right:30px;
}

.main_btn {
    float:left;
    margin:120px 10px 20px 10px;
}

a.big-link-01 {
    display: inline-block;
    padding: 5px 25px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border:2px solid #66a321;
    text-align: center;
    font-size:18px;
    margin:10px;
    background: #66a321;
}
a.big-link-01:hover{
    background: #426C12;
    border: 2px solid #426C12;
    color: #fff;
}
a.big-link-01 span {
    font-size:18px;
}

a.big-link-02 {
    display: inline-block;
    padding: 5px 25px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border:2px solid #cf403d;
    background-color: #cf403d;
    text-align: center;
    font-size:18px;
    margin:10px 10px 10px 20px;
    min-width: 235px;

}
a.big-link-02:hover{
    background: #B0302D;
    border: 2px solid #B0302D;
    color: #fff;
}

a.big-link-02 span {
    font-size:18px;
}

.testimonials-container {

    /*background: url(../img/bottom_bgimg.png);*/
    background:#008DC4;
    width:100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 230px;
    padding:50px 10px;
}
``
.testimonials-title {
    /*background: url(../img/line.png) left center repeat-x;*/
}

.testimonials-title p {
    font-size: 12px;
    color: #fff;
    float:left;
    text-align: left;
}

.aboutus-container{
font-size: 36px;background: #7F0E4E;color: #fff;height: 100px;line-height: 100px;
}

.aboutus-container a{
    color: #bbb;
}

.aboutus-container a:hover{
    color: #fff;
}
#about_us{
    padding: 20px 0px;
    background: #7F0E4E;
    font-size: 12px;
    text-align: left;
    color: #fff;
}
 .mentee_img_text p:first-child img {
    border-radius: 50%;
    border: 1px solid #999;
    height: 110px;
    width: 110px;
    }
.mentor_power_div{
	margin-top: 20px;
    border: 1px solid #666;
    color: #FF746E;
    background: #2F3848;
    padding: 10px;
    font-size: 18px;
}
.mentor_power_div img{
	width: 35px;
    margin-right: 5px;
}
.middle_text p {
	font-size: 18px;
	color: #008DC4;
}
.div_container{
	    background: #f9f9f9;
	    margin:0px;
	    padding: 40px 0;
}
@media (min-width: 768px) {

	.alert_div{
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 18px;
    word-break: break-all;
    display: none;
    z-index: 9999;
    white-space: normal;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
	}

    .logo{
    margin: 7px 0 0 0;
    width: 218px;
    }
      .mentee_img_text p:first-child img {
    border-radius: 50%;
    border: 1px solid #999;
    height: 110px;
    width: 110px;
    }

     .main_container {
    /*background: url(../img/mainimg_b.jpg);*/
    background-size:cover;
    width:100%;
    min-height:670px;

    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }

    .main_img_text {
        float:right;
        text-align: left;
    }

    .img_text {
        padding: 70px 0 0 0;
        color: #fff;
        text-align: right;
    }

    .img_text h1 {
        font-size:40px;
        color: #fff;
        font-weight: bold;
        padding-left:15px;
        padding-right:30px;
        margin-top: 10px;
        margin-bottom:20px;
        line-height: 80px;
    }

    .img_text p {
        font-size:18px;
        line-height: 36px;
        padding-left:15px;
        padding-right:30px;
    }

    .main_btn {
        float:left;
        margin:180px 10px 20px 10px;
    }

    a.big-link-01 {
        display: inline-block;
        padding: 5px 25px;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        border:2px solid #66a321;
        text-align: center;
        font-size:20px;
        margin:10px;
    }

    a.big-link-01 span {
        font-size:20px;
    }

    a.big-link-02 {
        display: inline-block;
        padding: 5px 25px;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        border:2px solid #cf403d;
        text-align: center;
        font-size:20px;
        margin:10px 10px 10px 20px;
    }


    a.big-link-02 span {
        font-size:20px;
    }


    .school {
        float: left;
        margin:0 auto;
        border-top:1px solid #e6e6e6;
        border-bottom:1px solid #e6e6e6;
        padding:10px 0;
        height: 200px;
        overflow: hidden;
    }
    .school ul {margin:0; padding:0;}
    .school ul li {
        list-style: none;
        font-size:14px;
        color:#333;
        text-align: left !important;
    }
    .school ul li div.icon{
        text-align: left !important;
        font-size: 14px !important;
    }
    .school ul li div.college{
        vertical-align: sub;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
    }
    .school ul li div.appliedcollege{
        vertical-align: sub;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
    }

    .intro p {
        float: left;
        text-align: center;
        margin:20px 0 0 0;
        font-size:14px;
        color:#999;

        vertical-align: sub;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        height: 30px;
    }
    #about_us{font-size: 16px}
    .testimonials-title p {font-size: 16px}
    .middle_text p {
	font-size: 24px;
	color: #008DC4;
	}
	.div_container{
	    background: #f9f9f9;
	    margin:0px;
	    padding: 70px 0;
	}
}
@media (min-width: 992px) {
	.alert_div{
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 28px;
    word-break: break-all;
    display: none;
    z-index: 9999;
    white-space: normal;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
	}

    .logo{
    margin: 7px 0 0 0;
    width: 218px;
    }

    .mentee_img_text p:first-child img {
    border-radius: 50%;
    border: 1px solid #999;
    height: 110px;
    width: 110px;
    }

    .main_img_text {
        float:right;
        text-align: left;
    }

    .img_text {
        padding: 70px 0 0 0;
        color: #fff;
        text-align: right;
    }

    .img_text h1 {
        font-size:50px;
        color: #fff;
        font-weight: bold;
        padding-left:15px;
        padding-right:30px;
        margin-top: 10px;
        margin-bottom:20px;
        line-height: 80px;
    }

    .img_text p {
        font-size:20px;
        line-height: 36px;
        padding-left:15px;
        padding-right:30px;
    }

    .main_btn {
        float:left;
        margin:180px 10px 20px 10px;
    }

    a.big-link-01 {
        display: inline-block;
        padding: 5px 25px;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        border:2px solid #66a321;
        text-align: center;
        font-size:24px;
        margin:10px;
    }

    a.big-link-01 span {
        font-size:24px;
    }

    a.big-link-02 {
        display: inline-block;
        padding: 5px 25px;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        border:2px solid #cf403d;
        text-align: center;
        font-size:24px;
        margin:10px 10px 10px 20px;
    }

    a.big-link-02 span {
        font-size:24px;
    }
    #about_us{font-size: 18px}
    .testimonials-title p {font-size: 18px}
	.middle_text p {
	font-size: 26px;
	color: #008DC4;
	}
	.div_container{
	    background: #f9f9f9;
	    margin:0px;
	    padding: 120px 0;
	}
}
@media (min-width: 1200px) {
	.alert_div{
    position: fixed;
    bottom: 5%;
    right: 2%;
    font-size: 38px;
    word-break: break-all;
    display: none;
    z-index: 9999;
    white-space: normal;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
	}
    .logo{
     margin: 0px;
    width: 300px;
    }
    .thumb-info img {
        margin: 15px auto 0 auto;
        background: #f1f1f1;
        border-radius: 50%;
        border: 1px solid #999;
        width: 160px;
        height: 160px;

    }

    .mentee_img_text p{
        margin: 0px
    }
    .mentee_img_text p:first-child img {
    border-radius: 50%;
    border: 1px solid #999;
    height: 74px;
    width: 74px;
    }
    .main_img_text {
        float:right;
        text-align: left;
    }

    .img_text {
        padding: 70px 0 0 0;
        color: #fff;
        text-align: right;
    }

    .img_text h1 {
        font-size:60px;
        color: #fff;
        font-weight: bold;
        padding-left:15px;
        padding-right:30px;
        margin-top: 10px;
        margin-bottom:20px;
        line-height: 80px;
    }

    .img_text p {
        font-size:24px;
        line-height: 36px;
        padding-left:15px;
        padding-right:30px;
    }

    .main_btn {
        float:left;
        margin:180px 10px 20px 10px;
    }

    a.big-link-01 {
        display: inline-block;
        padding: 5px 25px;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        border:2px solid #66a321;
        text-align: center;
        font-size:28px;
        margin:10px;
    }

    a.big-link-01 span {
        font-size:28px;
    }

    a.big-link-02 {
        display: inline-block;
        padding: 5px 25px;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        border:2px solid #cf403d;
        text-align: center;
        font-size:28px;
        margin:10px 10px 10px 20px;
    }

    a.big-link-02 span {
        font-size:28px;
    }
	.middle_text p {
	font-size: 28px;
	color: #008DC4;
	}
	.div_container{
	    background: #f9f9f9;
	    margin:0px;
	    padding: 140px 0;
	}
}
